@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#root {

    padding-bottom: 10px;

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: space-evenly;

    align-content: space-around;
}