#root {

    padding-bottom: 10px;

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: space-evenly;

    align-content: space-around;
}

@font-face {
    font-family: "flappy-font";
    src: url("./static/flappy-font.ttf");
}